*.launch
.classpath
.coveralls.yml
.DS_Store
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
*bootstrap*
*font-awesome*
*fontawesome-webfont*
*FontAwesome*
.project
.settings/
/.idea
/.sass-cache
/.vscode
/bower_components
/build
/client/node_modules
/connect.lock
/coverage
/dist
/e2e/*.js
/e2e/*.map
/libpeerconnection.log
/node_modules
/server/node_modules
/tmp
/typings
client/coverage/*
npm-debug.log
stats.json
testem.log
Thumbs.db
yarn-debug.log*
yarn-error.log
