*bootstrap*
/bower_components
/build
.classpath
client/coverage/*
/client/node_modules
/connect.lock
/coverage
.coveralls.yml
/dist
.DS_Store
/e2e/*.js
/e2e/*.map
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
*font-awesome*
*FontAwesome*
*fontawesome-webfont*
*.gif
/.idea
*.jpg
*.launch
/libpeerconnection.log
/node_modules
npm-debug.log
package-lock.json
*.png
.project
/.sass-cache
/server/node_modules
.settings/
stats.json
testem.log
Thumbs.db
/tmp
/typings
/.vscode
yarn-debug.log*
yarn-error.log
